.content {
    background-color: rgb(243, 180, 8);
    color: inherit;
    border-radius: 0.1em;
    margin: 1px;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
.content:hover {
    background-color: black;
    /* background-image: url(../../images/films2.jpg); */
    color: white;
  }