.list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0.2em;
  }
  .content {
    background-color: rgb(243, 180, 8);
    color: black;
    border-radius: 0.1em;
    margin: 1px;
  }
  .container {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
    max-width: 90%;
    margin: 0.5rem auto;
    color: aliceblue;
    font-family: "League Gothic";
    font-weight: 400;
    font-size: 3vw;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.1em;
    font-size: 6vw;
    background-color: black;
    color: aliceblue;
    animation: bounce 2s infinite ease-in-out;
  }
  
  /* .title:hover, .title:focus{
    background-color: rgb(243, 180, 8);
    color: black;
  } */
  .contentList {
    composes: content;
    display: flex;
    flex-wrap: wrap;
  }
  .titleList{
    background-color: rgb(247, 197, 59);
  }
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.accordionList{
    border: 1px solid black;
}
.button{
    width: 5em;
    padding:  0.3em 1em;
    margin: 1em;
    border-radius: 5%;
    text-align: center;
    font-size: 1em;
    font-family: 'League Gothic';
    font-weight: 400;
    border: none;
    background-color: rgb(243, 180, 8);
    color: black;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.button:hover, .button:focus{
    transform: scale(1.05);
}
.img{
  width: 50%;
  height: auto;
}
@media screen and (max-width: 700px) {

  .title{
    font-size: 4em;
  }
  .content{
    font-size: 2em;
  }
}