.container, .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
}
.list{
    flex-direction: column;
    margin-right: 1em;
}
.navItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .25s ease;
    color: aliceblue;
    margin-right: 1em;
text-transform: uppercase;
font-family: "League Gothic";

}
.logo{
    width: 10vw;
    margin: 1vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.logo:hover, .logo.focus{
    filter: brightness(1) drop-shadow(0 0 4px rgba(243, 180, 8, 1));
}
@media screen and (max-width: 768px) {
    .logo{
        width: 20vw;
    }
  }
