.container, .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    flex-direction: column;
    margin-right: 1em;
}
.navItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .25s ease;
    color: aliceblue;
    margin-right: 1em;
text-transform: uppercase;
font-family: "League Gothic";

}
.logo{
    width: 10vw;
    margin: 1vw;
    cursor: pointer;
}
