.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #edf6f8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  color: aliceblue;
  background-image: url(./images/star-wars-background.jpg);
/* background-image: url(./images/3d-star-wars.jpg); */
}
ul, ol, h1, h2, h3, a{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
#root{
  cursor: url(./images/cursor2.png)39px 39px, auto;
}