
body{
  color: aliceblue;
  background-image: url(./images/star-wars-background.jpg);
/* background-image: url(./images/3d-star-wars.jpg); */
overflow-x: hidden;
}
body::after{
  content: '';
  position: absolute;
  background-image: url(./images/07.png);
  object-fit: contain;
  background-repeat: no-repeat;
  opacity: 0.05;
  top: 0;
  left: -80%;
  bottom: 0;
  right: 0;
  animation: swing 80s linear  infinite running;
  z-index: -1;
}

ul, ol, h1, h2, h3, a, p{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
#root{
  cursor: url(./images/cursor2.png) 39px, auto;
}
.swiper-pagination-bullet{
  cursor: pointer;
    height: 0.5rem;
    width: 3.5rem;
    margin: 0 3px;
    border-radius: 1%;
    background-color: rgba(151, 148, 148, 0.3);
    display: inline-block;
    transition: all 0.5s ease-out;
}
@keyframes swing {
  100% {
    transform: translateX(100%);
  }
}
@keyframes side {
  100% {
    transform: translateY(100%);
  }
}