.cursor,
.cursor2{
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  z-index: 2;
  opacity: 0.5;
  background-color: black;
}
.cursor2 {
  width: 8px;
  height: 8px;
  opacity: 1;
  background-color: rgba(243, 180, 8, 1);
  transition: 0.3s;
}
.hidden {
    opacity: 0;
 }
 .scale {
    transform: scale(2);
 }
 .click {
    transform: translate(-50%, -50%) scale(0.4);
    background-color: #121212;
 }
 .linkHovered {
    transform: translate(-50%, -50%) scale(1.5);
 }
 @media screen and (max-width: 768px) {
   .wraper{
display: none;
}
 }