h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}
.accordion {
  max-width: 90%;
  margin: 0.5rem auto;
  color: black;
  font-family: "League Gothic";
  font-weight: 400;
  font-size: 3vw;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.1em;
  cursor: pointer;
  background-color: black;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}

.title:hover, .title:focus{
  background-color: rgb(243, 180, 8);
  /* background-image: url(../../images/films2.jpg); */
  color: black;
}

.title {
  padding: 1rem;
}

.content {
  background-color: rgb(243, 180, 8);
  border-radius: 0.1em;
  margin: 1px;
}
.contentList {
  composes: content;
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 0.2em;
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.6s ease;
}
.titleList{
  background-color: rgb(247, 197, 59);
}
.accordionList{
  border: 1px solid black;
  margin: 1px;
  transition: all 0.5s ease-in-out;
}
/* .accordionList:hover, .accordionList:focus{
  transform: scale(1.1);
} */
@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
  .title{
    font-size: 4em;
  }
  .content{
    font-size: 2em;
  }
}
